@charset "utf-8";
@import 'src/_variables.scss';

.header {
  width: 100%;
  height: 80px;
  background-color: $site-color;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: #ffffff;
  margin: auto 25px auto auto;
}
